// Colors Variables
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
$white: hsl(0, 0%, 100%);

// Font Variable
$poppins: "Poppins", sans-serif;
$open-sans: "Open Sans", sans-serif;

//Style
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.component {
  background-color: $violet;
  background-image: url("../../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 100vh;
  .component_header {
    padding: 1.875rem;
    img {
      width: 8em;
      height: auto;
    }
  }
  .component_illustration {
    padding: 1.875rem 2.875rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .component_description {
    color: $white;
    text-align: center;
    h1 {
      font-size: 1.5rem;
      font-family: $poppins;
      font-weight: 700;
      line-height: 2.188rem;
      padding: 1.875rem 2.5rem 0 2.5rem;
      margin: 0;
    }
    p {
      padding: 0 2rem 0 2rem;
      font-size: 0.938rem;
      font-family: $open-sans;
      margin: 1.25rem 0;
    }
    .btn-primary {
      font-size: 0.625rem;
      font-family: $poppins;
      background-color: $white;
      color: $violet;
      border: 0;
      border-radius: 50px;
      padding: 0.625rem 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      &:hover {
        background-color: $soft-magenta;
        color: $white;
      }
    }
    .social_media {
      a {
        font-size: 12px;
        padding: 0 4px;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          padding: 12px;
          border: 1px solid $white;
          border-radius: 50%;
          color: $white;
          &:hover {
            color: $soft-magenta;
            border-color: $soft-magenta;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .component {
    background-image: url("../../images/bg-desktop.svg");
    .component_header {
      padding: 3.125rem;
      img {
        width: 11em;
        height: auto;
      }
    }
    .component_description {
      text-align: left;
      h1 {
        font-size: 2.188rem;
        line-height: 3.438rem;
        padding-left: 0;
      }
      p {
        padding-left: 0;
        padding-right: 2.875rem;
        margin: 1.25rem 0 1.563rem 0;
      }
      .btn-primary {
        font-size: 1rem;
        padding: 0.938rem 0;
      }
      .social_media {
        padding-top: 6.25rem;
        padding-right: 2.875rem;
        a {
          font-size: 0.938rem;
          .icon {
            width: 1.25rem;
            height: 1.25rem;
            padding: 0.938rem;
          }
        }
      }
    }
    .mx-auto {
      margin: 0 !important;
    }
  }
}
